<form action="/login.php" method="POST" id="login-form">
    <!-- @info si l'utilisateur s'est déjà connecté une première fois, on lui affiche l'email qu'il avait utilisé dans le champ email -->
    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="text" id="email" name="email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password">
    </div>

    <input type="submit" class="btn btn-success">
</form>
