<!-- @info ne peut être afficher que si l'utilisateur est connecté
     @info les champs doivent être prérempli avec les valeurs existantes en BDD (notre fichier data/user.json)
     @info les valeurs des attributs en html doivent être minuscule séparé par un - Donc ne pas renomer first-name par firstName
 -->

<form action="profile.php" method="POST" id="profile-form">
    <p class="message"></p>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name">
    </div>
    <div class="form-group">
        <label for="first-name">First name</label>
        <input type="text" class="form-control" name="first-name" id="first-name">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" id="email">
    </div>
    <div class="form-group">
        <label for="age">Age</label>
        <input type="text" class="form-control" name="age" id="age">
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary">
    </div>
</form>

<script>
    Object.keys(MON_SUPER_SITE.security).forEach(function(prop) {
        let newProp = prop;

        if (prop === 'firstName') newProp = 'first-name';

        $('#' + newProp).val(MON_SUPER_SITE.security[prop]);
    });

    $('#profile-form').submit(function(event) {
        event.preventDefault();

        let data = $(this).serializeArray();

        data.map(function(field) {
            if (field.name === 'first-name') {
                field.name = 'firstName';
            }
        });

        $.post($(this).attr('action'), data)
        .then(function(response) {
            if (!response.error) {
                $('p.message', 'form').text('Saved');
                MON_SUPER_SITE.security = data;
            }
        })
    })

</script>